<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 200px;
            height: 200px;
            background-color: rebeccapurple;
            margin: 5px;
            float: right;
        }   
        #d1, #d3, #d5{
            float: left;
        }
        #d5{
            clear: both;
        }
    </style>
</head>
<body>
    <h1>Floats</h1>
    <div id="d1">Div1</div>
    <div id="d2">Div2</div>
    <div id="d3">Div3</div>
    <div id="d4">Div4</div>
    <div id="d5">Div5</div>
</body>
</html>