<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-sub" id="header-sub-one">
                <img src="/pictures/zombie.png" alt="zombie">
                <h1>
                    About Our Work
                </h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur distinctio, eius sint, commodi dolores non magnam enim laudantium quae dolor alias? Sed, minus atque. Exercitationem expedita repudiandae sit impedit quisquam.
                </p>
            </div>

            <div class="header-sub">
                <div class="header-sbu-content">
                    <img src="/pictures/zombie.png" alt="">
                    <div>
                        <h1>UI/UX Development</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eum.
                        </p>
                    </div>
                </div>
                <div class="header-sbu-content">
                    <img src="/pictures/zombie.png" alt="">
                    <div>
                        <h1>UI/UX Development</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eum.
                        </p>
                    </div>
                </div>
                <div class="header-sbu-content">
                    <img src="/pictures/zombie.png" alt="">
                    <div>
                        <h1>UI/UX Development</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="sec-about">
            <div class="container">
    
            </div>
        </section>
    
        <section id="sec-people">
            <div class="container con-people">
    
            </div>
        </section>

        <section id="sec-contact">
            <div class="container con-contact">
    
            </div>
        </section>
    </main>

    <footer>
        
    </footer>
    
</body>
</html>